@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #FFFFFF;
  margin: 30px;
  font-family: "Montserrat";
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono";
} */

.parks {
  display: block;
  justify-content: center;
}

.search,
.details,
.search-params {
  background-color: #cacaca;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

/* .pet {
  width: 100%;
  height: 300px;
  display: block;
  overflow: hidden;
  margin: 15px 0;
} */

.park-image {
  width: 200px;
  height: 200px;
}

.park-detail-image {
  width: 50%;
  height: 50%;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #7217bd;
  opacity: 0.6;
}